<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        
        <a href="list">
            <div class="">Show gnommes list</div>
        </a>
        
    </mat-grid-tile>
    <mat-grid-tile>
        <a href="#">
            <div>Show our town news (soon)</div>
        </a>
        
    </mat-grid-tile>
    <mat-grid-tile>
        <a href="#">
            <div>Show our town map(soon)</div>
        </a>
        
    </mat-grid-tile>
    <mat-grid-tile>
        <a href="#">
            <div>Show our town contact(soon)</div>
        </a>
    </mat-grid-tile>
</mat-grid-list>
